*{
	margin:0;
	padding:0;
}
#containter{
	width:90%;
	height:auto;
	border:1px solid #999;
	background-color:#eee;
	margin:50px auto;
	padding:20px;
	overflow: hidden;
}
#left{
	width:184px;
	height:82px;
	float:left;
	border:1px solid #999;
	background-color: #fff;
	padding:20px;
}
#left a{
	display:inline-block;
	width:80px;
	height:80px;
	background:url(imgs/1.jpg) no-repeat;
	background-size: cover;
}
#left>span{
	float:right;
	font:bold 12px "microsoft yahei";
}
#right{
	float:right;
	width:80px;
	height:auto;
	padding:20px 20px 0 20px;
	background-color:#fff;
	border:1px solid #999;
}
#right>a{
	display: block;
	width:80px;
	height:80px;
	background:url(imgs/2.jpg) no-repeat;
	background-size: cover;
	border:1px solid #999;
	margin-bottom:15px;
}
#main{
	width:auto;
	height:auto;
	margin:0 140px 0 240px;
	border:1px solid #999;
	background-color:#fff;
	padding:20px;
}
#main>article{
	font:bold 16px/22px "microsoft yahei";
}